{% extends 'movierecommender/base.html' %}


{% block title %}
    <title>Movie recommender application</title>
{% endblock title %}

{% block content %}
    <div class="container mt-28 mx-auto px-5 relative">
        <h1 class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Movie Searcher</h1>
        <form method="POST" class="my-8 mx-auto sm:w-96">
            {% csrf_token %}
            <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input
                    type="search"
                    id="search"
                    class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Mad Max, The Lord of the Rings, Home Alone..."
                    name="search"
                    required
                >
                <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
        </form>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 place-items-center">
            {% for movie in movies %}
                <div class="relative show-overview hover:cursor-pointer w-64 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="relative">
                        <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" class="rounded mx-auto d-block" alt="movie image">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button type="submit" class="heart-button absolute bottom-0 bg-white rounded-full p-1">
                                <input type="hidden" name="watched" value="{{ movie.imdb_id }}" />
                                {% if movie.watched %}
                                    <img id="like-heart" width="50" height="50" src="https://img.icons8.com/color/50/filled-like.png" alt="filled-like"/>
                                {% else %}
                                    <img id="unlike-heart" width="50" height="50" src="https://img.icons8.com/ios/50/like--v1.png" alt="like--v1"/>
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    <div class="p-5">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-600 dark:text-white">{{movie.original_title}}</h5>
                        <div class="flex items-center">
                            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <p class="ml-2 text-sm font-bold text-gray-900 dark:text-white">{{movie.vote_average}} / 10</p>
                            <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                            <span class="text-sm font-medium text-gray-900 dark:text-white">{{movie.vote_count}} reviews</span>
                        </div>
                    </div>
                    <span class="overview bg-white dark:bg-gray-900 text-sm rounded-lg dark:text-white w-64 z-10 inline-block top-0 left-3/4 m-2 hidden absolute">
                        <div class="p-2">
                            <p>{{movie.overview}}</p>
                        </div>
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
