{% extends "base.html" %}

{% block title %}
    <title>Personal Movie Recommendations</title>
{% endblock %}

{% block content %}
    <div class="container mx-auto px-5 mt-28 relative">
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 place-items-center">
            {% for movie in movie_list %}
                <div class="relative show-overview hover:cursor-pointer w-64 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" class="rounded mx-auto d-block" alt="movie image">
                    <div class="p-5">
                        <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-600 dark:text-white">{{movie.original_title}}</h6>
                        <div class="flex items-center">
                            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <p class="ml-2 text-sm font-bold text-gray-900 dark:text-white">{{movie.vote_average}} / 10</p>
                            <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                            <span class="text-sm font-medium text-gray-900 dark:text-white">{{movie.vote_count}} reviews</span>
                        </div>
                    </div>
                    <span class="overview bg-white dark:bg-gray-900 text-sm rounded-lg dark:text-white w-64 z-10 inline-block top-0 left-3/4 m-2 hidden absolute">
                        <div class="p-2">
                            <p>{{movie.overview}}</p>
                        </div>
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
